<%- include("header") -%>

<h1 class ="box" id = "heading">This is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex deleniti eum sed, harum quas a sint aperiam aliquid rerum nisi fugiat nihil tempora voluptatum sequi nemo omnis cumque ab vitae ullam beatae. Quas?</p>

<%- include("footer") -%>