body{
    background-color: #393E46;
    text-align: center;
}
.heading{
    font-family: 'Lobster', cursive;
    margin : 20px auto 20px;
    font-size : 8rem;
    color : #4ECCA3;
}

.table{
    margin : 70px auto;
    
}
.table-item{
    font-family: 'Indie Flower', cursive;
    font-size : 2rem;
    color : #4ECCA3;
}
.table-image{
    width : 50%;
}
footer{
    font-size :1.4rem;
    color : #fff;
    font-family: 'Indie Flower', cursive;
}
